/*Responsive*/
@media screen and (max-width: 470px) {
  #navbarNavAltMarkup a {
    padding: 5px 11px;
  }
  .button-register {
    width: 40%;
    text-align: center;
  }
  /*Countdown Counter*/
  .simply-section {
    width: 100px;
    height: 100px;
    margin: 40px 10px;
  }
  .simply-amount {
    font-size: 30px;
    font-weight: 700;
  }
  .simply-word {
    font-size: 13px;
  }
  /*We Are Section*/
  .section-text-cmm {
    display: flex;
    flex-direction: column-reverse;
  }
  #left-title {
    text-align: center;
  }
  #right-title {
    text-align: center;
  }
  #text {
    padding: 0 1em;
    text-align: center;
  }
  /*Find*/
  .row-bg-title {
    font-size: 21px;
  }
  .icon-box {
    padding: 0 21px;
  }
  /*Form Experience*/
  .form-experience {
    padding: 1em 1em 1em 1em;
    max-width: 315px;
    margin: 0 auto;
    margin-bottom: 2em !important;
  }
  /*Video Previous Editions*/
  .bg-title-video {
    padding: 40px 0;
  }
  .bg-title-video h1 {
    padding-bottom: 20px;
  }
  .video {
    height: 0px;
    width: 100%;
    padding-top: 56.25%;
  }
  /*Ponentes*/
  .row-speakers p {
    font-size: 14px;
    width: 85%;
  }
  .row-card-speakers {
    padding: 0 3em;
  }
  /*Patrocinadores*/
  .bg-sponsors {
    background-image: none;
    background-color: #f2f0f1;
  }
  .bg-sponsors p {
    padding: 0 10px;
  }
  .box-sponsor {
    margin-top: 1.5em;
  }
  .box-sponsor img {
    width: 100%;
  }
  .row-margin-top {
    margin-top: 0;
  }
  /*Initiative*/
  .card-body-bio {
    padding: 0 13px 23px 13px;
  }
  /*Video Espacio precumbre Esmeraldas*/
  .video-precumbre {
    width: 100%;
    height: auto;
  }
  .bg-title-video-pre h1 {
    padding-top: 1.5em;
  }
  /*Noticias
  .carousel-video {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 3em;
  }
  .carousel-item iframe {
    min-width: 100%;
    height: 200px;
  }*/
  .video-iframe-news iframe {
    width: 80%;
    height: 160px;
  }
  /*Team Carousel Photos*/
  .title-galery h1 {
    font-size: 30px;
    padding-top: 2em;
  }
  /*Join*/
  .bg-form-join p {
    font-size: 14px;
    padding: 0 1em;
  }
  .card-body-toggle {
    width: auto;
    margin-left: 0;
  }
  /*Counter Banner*/
  .box-counter div {
    margin-bottom: 2em;
  }
  /*Carousel Ya nos han acompañado*/
  .title-galery-two h1 {
    font-size: 27px;
  }
  .text-form-participate h2 {
    font-size: 20px;
  }
  /*.bottom-gallery {
      flex-direction: column;
      align-items: center;
    }*/
  /*Rounded buttons*/
  .text-form-rounded {
    font-size: 18px;
    font-weight: 800;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .galery-icon {
    width: auto;
    margin-bottom: 2em;
  }
  /*Footer*/
  #footer-bg-img {
    padding-top: 2em;
  }
  .container-contacto {
    text-align: center;
  }
  .align-footer {
    padding-top: 2em;
  }
  .column-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .column-footer-second {
    padding-right: 0;
  }

  /*Entradas*/
  .img-entrada-gratis {
    width: 80%;
  }
  .hotmart__button-checkout {
    width: 65% !important;
  }
  .btn-entrada-gratis {
    width: 65% !important;
  }
}
@media screen and (min-width: 470px) and (max-width: 1000px) {
  /*Video Espacio precumbre Esmeraldas*/
  .video-precumbre {
    width: 310px;
    height: auto;
  }
  .box-video-pre {
    text-align: center;
  }
  .bg-title-video-pre h1 {
    text-align: center;
    margin-top: 1em;
  }
}
@media screen and (max-width: 340px) {
  /*Video Espacio precumbre Esmeraldas*/
  .video-precumbre {
    width: auto;
    height: auto;
  }
  .box-video-pre {
    text-align: center;
  }
  .bg-title-video-pre h1 {
    text-align: center;
    margin-top: 1em;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1400px) {
  /*Video Espacio precumbre Esmeraldas*/
  .video-precumbre {
    width: 500px;
    height: 300px;
  }
  .box-video-pre {
    text-align: center;
  }
  .bg-title-video-pre h1 {
    text-align: center;
    margin-top: 1em;
  }
}
