/*Template Style*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.bin") format("truetype"),
    url("../fonts/icomoon/icomoon.woff") format("woff"),
    url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
  /* overflow-x: hidden; scroll horizontal*/
}
/*navbar*/
.logo {
  margin: 0;
  padding: 5px;
}
.menu {
  padding: 10px 0 10px 0;
  font-size: 13px;
  background-color: #6f008f;
}
.button-entradas {
  background: linear-gradient(to left, #f301da, #d300bd 50%);
  padding: 9px 16px 9px 16px;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 4px 4px 3px 0px rgb(0 0 0 / 18%);
  color: white;
  font-weight: 600;
}
.button-entradas:hover {
  background: white;
  color: #3c1486 !important;
}
#navbarNavAltMarkup a {
  color: white;
  font-weight: 600;
  margin-right: 15px;
}
button:focus:not(:focus-visible) {
  outline: none !important;
  color: #6f008f;
}
/*Countdown Counter*/
.countdown-row {
  background: linear-gradient(to right, #910182, #d300bd 60%, #d746b4);
  color: #6f008f;
}
#countdown {
  display: flex;
  justify-content: center;
}
.simply-section {
  background-color: #fafafa;
  width: 150px;
  height: 150px;
  margin: 40px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.simply-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simply-amount {
  display: block;
  font-size: 50px;
  font-weight: 700;
}
.simply-word {
  font-size: 20px;
}
/*We Are Section*/
#link_profile {
  color: #dd44df;
}
.container-text-section {
  margin-top: 6em;
}
.section-text-cmm {
  margin-top: 2em;
}
#left-title {
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  background: linear-gradient(#3c1486, #8b4caf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
#right-title {
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  background: linear-gradient(#980281, #e000bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
#text {
  padding-right: 7em;
}

/*Find*/
.row-bg-title {
  padding: 60px 0;
  background-color: #d20183;
  color: white;
  margin-top: 3em;
  margin-bottom: 2em;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}
.row-bg-title span {
  color: #31116d;
}
.icon-box {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0 55px;
}
.icon-box .icon {
  width: 90px;
  height: 90px;
  background: rgba(0, 0, 0, 0.04);
  display: table;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icon-box .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  line-height: 40px;
  color: #a57aba;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.icon-box:hover .icon,
.icon-box:focus .icon {
  background: linear-gradient(#f301da, #d300bd, #3c1486);
}
.icon-box:hover .icon i,
.icon-box:focus .icon i {
  color: #fff;
}

.text-box {
  font-family: "Montserrat";
}
.text-box h3 {
  color: #3c1486;
  font-size: 20px;
  font-weight: 500;
}
.text-box p {
  line-height: 1.7;
}

/*Form Experience*/
.bg-form {
  background-image: url("../images/img_bg_form.jpg");
  background-size: cover;
  background-color: lightgrey;
}
.bg-form p {
  width: 75%;
  margin: auto;
}
.row-form {
  background-color: transparent;
  margin-top: 2em;
}
#title-form {
  margin-top: 2.5em;
  margin-bottom: 1em;
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(#b103d3, #630176);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
#bold-text-first {
  font-size: 20px;
  color: #b141a6;
  padding-top: 5px;
}
.form-experience {
  box-shadow: 0px 0px 22px -18px black;
  border-radius: 20px;
  padding: 1.5em 1.5em 2em 1.5em;
  background-color: white;
  margin-bottom: 5em;
}
.form-control {
  box-shadow: none;
  height: 54px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  /*appearance: auto;*/
  margin-bottom: 1em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.03);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
}
.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: lightgray;
}
.div-form {
  margin: 0 auto;
}
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  color: #222;
  outline: none;
}
.select option {
  font-weight: normal;
}

.btn-secondary {
  background: linear-gradient(to bottom, #663bb8, #3c1486);
  color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 19px;
  padding: 10px;
  height: 54px;
  width: 100%;
  border-top: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background: #910182;
  border-color: #910182;
}
/*Video Previous Editions*/
.bg-title-video {
  padding: 60px 0;
}
.bg-title-video h1 {
  color: #d10184;
  font-weight: 800;
  padding: 0 14px;
}
.bg-title-video h1 span {
  /*background: linear-gradient(to top, #31116d, #da02c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: #5d399f;
}
.video {
  padding-top: 31.25%; /* Relación: 16/9 = 56.25% */
  position: relative;
}
.video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}
/*Ponentes*/
.row-speakers {
  padding: 60px 0;
  background: linear-gradient(to right, #3c1486, #b203a4);
  color: white;
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
}
.row-speakers h1 {
  font-weight: 800;
}
.row-speakers p {
  width: 75%;
  margin: auto;
}
.row-card-speakers {
  padding: 0 7em;
}
.card {
  border: none;
}
.card-body {
  text-align: center;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.card-title-speakers {
  color: #3c1486;
  font-size: 20px;
  font-weight: 500;
}
.card-text-speakers {
  font-size: 14px;
}
.card-text-speakers-color {
  margin-bottom: 0;
  color: #bd00cf;
  font-size: 15px;
  font-weight: 600;
}
.btn-collapse {
  font-size: 13px;
  color: blue;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
}
.btn-collapse:hover {
  color: #bd00cf;
}
.btn-collapse:focus {
  box-shadow: none;
}
.btn-collapse:active {
  color: blue;
}
/*Patrocinadores*/
.bg-sponsors {
  background-image: url("../images/img_bg_sponsors.jpg");
  background-size: cover;
  background-color: #f2f0f1;
  padding-bottom: 4em;
}
#title-sponsors {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(#bd00cf, #3c1486);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
/*want to be a sponsor?*/
.wantToSponsor {
  padding-top: 6em;
  padding-bottom: 6em;
}
.wantToSponsor h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 800;
  background: linear-gradient(#d40181, #7d024c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}
.btn-wsp-wantTo {
  line-height: 63px;
  color: #25d366;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  transition: all 300ms ease;
  text-decoration: none;
}
.btn-wsp-wantTo:hover {
  background: white;
  color: #25d366;
}
.row-margin-top {
  margin-top: 4em;
}

/*Initiative*/
.row-team {
  background-image: url("../images/img_bg_team.jpg");
  background-size: cover;
  background-color: #3c1486;
  padding: 5em 0;
}
.row-team .text-center h1 {
  font-weight: 800;
  color: white;
}
.team-alignment {
  margin-top: 2em;
  background: transparent;
  padding: 0 70px;
}
.team h4 {
  color: #3c1486;
}
.row-director {
  background-image: url("../images/img_bg_team_2.jpg");
  background-size: cover;
  background-color: #3c1486;
  padding-top: 1em;
}
.card-body-bio {
  background: transparent;
  margin: auto;
  padding: 0 70px;
}
.text-color-bio-1 {
  color: #b203a4;
  font-weight: 500;
}
.text-bold-bio {
  color: #d20183;
  font-weight: 500;
}
/*Organizers*/
.row-organizers {
  background-image: url("../images/img_bg_organizers.jpg");
  background-size: cover;
  background-color: #b203a4;
  padding: 5em 0;
}
.row-organizers .text-center h1 {
  font-weight: 800;
  color: white;
}
.bg-organizers {
  background-color: #f0effb;
}
.row-card-speakers .card {
  background: transparent;
}
/*Video Espacio precumbre Esmeraldas*/
.img_bg_video {
  background-image: url("../images/img_bg_video.jpg");
  background-size: cover;
  background-color: #59005a;
  padding-top: 4em;
  padding-bottom: 3em;
}
.bg-title-video-pre h1 {
  background: linear-gradient(to bottom, #2b0277, #7e0172);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

/*Noticias*/
.text-news {
  text-align: center;
  font-weight: 800;
  padding: 2em 0 1em 0;
  color: #2b0277;
} /*
.carousel-video {
  width: 50%;
  margin: auto;
  margin-bottom: 3em;
}
.carousel-item iframe {
  min-width: 100%;
  height: 32rem;
}
.video-iframe iframe {
  text-align: center;
}*/
.bg-color-news {
  background-color: #ebebeb;
  text-align: center;
}
.video-iframe-news iframe {
  width: 100%;
  height: 259px;
}

/*Team Carousel Photos*/
.title-galery h1 {
  font-size: 50px;
  font-weight: 800;
  background: linear-gradient(#82008e, #d20183);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.galery {
  padding-top: 4em;
  padding-bottom: 2em;
}
/*Embajadoras*/
.row-embajadoras {
  padding: 60px 0;
  background: linear-gradient(to left, #b203a4, #80017d);
  color: white;
  margin-top: 3em;
  margin-bottom: 2em;
  text-align: center;
}
.row-embajadoras h1 {
  font-weight: 800;
}
/*Join*/
.speaker-form {
  margin: 0 0 3em 0;
}
.speaker-form a {
  color: white;
}
.bg-form-join {
  background-image: url("../images/img_bg_join.jpg");
  background-size: cover;
  background-color: lightgrey;
}
.btn-third {
  background: linear-gradient(to bottom, #d10184, #b203a4);
  color: white;
  font-weight: 700;
}
.btn-alignment {
  text-align: center;
}
.btn-wsp-toggle {
  line-height: 63px;
  color: white;
  text-align: center;
  font-size: 35px;
  transition: all 300ms ease;
  text-decoration: none;
}
.btn-wsp-toggle i {
  background: #25d366;
  width: 50%;
  height: 50%;
  border-radius: 50px;
  padding: 13px;
}
.btn-wsp-toggle i:hover {
  background: white;
  color: #25d366;
}
.collapse-vertical .card {
  background: none !important;
}
.card-body-toggle {
  width: 30%;
  margin-left: 35%;
}
.row-form {
  background-color: transparent;
}
#title-form-join {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  font-size: 40px;
  font-weight: 800;
  color: white;
}
.bg-form-join p {
  color: white;
}
#bold-text {
  font-size: 25px;
}
.btn-primary {
  background: linear-gradient(to bottom, #d10184, #b203a4);
  color: #fff;
  border-radius: 8px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 19px;
  padding: 10px;
  height: 54px;
  width: 100%;
  border-top: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #910182;
  border-color: #910182;
}
/*Carousel Ya nos han acompañado*/
.title-galery-two h1 {
  font-size: 50px;
  font-weight: 800;
  background: linear-gradient(#d20183, #3c1486);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.bottom-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom-gallery div > img {
  max-width: 100%;
  display: block;
}

.bottom-gallery div {
  margin: 10px;
  flex-basis: 180px;
}
.item {
  transition: 0.5s ease-in-out;
}
.item:hover {
  filter: brightness(80%);
}

/*Counter Banner*/
.counter-banner {
  background-image: url("../images/img_bg_counter_banner.jpg");
  background-size: cover;
  background-color: lightgrey;
  padding-top: 7em;
  padding-bottom: 7em;
  color: white;
}
.box-counter {
  display: flex;
  justify-content: center;
}
.box-counter h1 {
  font-size: 55px;
}
/*Rounded buttons*/
.text-form-rounded {
  font-size: 30px;
  font-weight: 800;
  /*background: linear-gradient(#bd00cf, #3c1486);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: #3c1486;
  width: 50%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}
.text-form-rounded span {
  color: #9d01ab;
}
.galery-icon {
  width: 45%;
  margin: auto;
  margin-bottom: 2em;
}

/*Footer*/
#footer-bg-img {
  background-image: url("../images/img_bg_footer.jpg");
  background-size: cover;
  background-color: lightgrey;
  color: white;
  padding-top: 4.5em;
}
.container-contacto {
  text-align: left;
}
.column-footer {
  padding-left: 4.5em;
  padding-bottom: 4em;
}
.column-footer-second {
  padding-right: 4.5em;
}
.align-footer {
  display: table;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.align-footer ul {
  list-style: none;
  padding-left: 0;
}
.align-footer .align-links {
  display: flex;
  justify-content: center;
  margin-right: 3px !important;
  font-size: 26px !important;
}
.align-footer .align-links li {
  padding: 4px;
}

footer a {
  color: white;
  text-decoration: none;
}
.footer-form {
  width: 200px;
}
.btn-gradient-footer {
  background: linear-gradient(#f301da#f301da, #88037a);
  color: white;
  font-weight: 600;
  border-radius: 7px;
  width: 100%;
}
.button-entradas-footer {
  width: 40%;
  margin: 1em auto;
}
.text-privacy {
  text-decoration: underline;
  text-align: left;
}
.text-copy {
  text-align: left;
}
.copyright {
  background: #3c1486;
  padding: 2em 0em 1em 6em;
  font-size: 12px;
  color: white;
  margin-top: 13em;
}
.copyright a {
  color: white;
}

/*Whatsapp Button*/
.btn-wsp-fixed {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
  text-decoration: none;
}
.btn-wsp-fixed:hover {
  background: white;
  color: #25d366;
}
/*Arrow Up Button*/
#scrollUp {
  bottom: 110px;
  right: 25px;
  width: 63px;
  height: 63px;
  background: url("../images/arrow-up.svg");
}
#scrollUp:hover {
  background: url(../images/arrow-up-hover.svg);
}

/*Políticas de Privacidad*/
.privacy-doc h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #3c1486;
  font-weight: 800;
}
.privacy-doc {
  margin-bottom: 5em;
}
.privacy-doc p {
  font-size: 15px;
}

/*Entradas*/
.title-entradas {
  color: #3c1486;
  font-weight: 700;
  text-align: center;
  margin: 1em 0;
}
.title-entradas span {
  color: #ce00ca;
}
.img-entrada {
  width: 80%;
  margin: 3em 0 1em 0;
}
.img-entrada-gratis {
  width: 40%;
  margin: 3em 0 1em 0;
}
.btn-entrada {
  background: linear-gradient(#f301da, #d300bd, #3c1486);
  color: white;
  width: 35%;
  font-weight: 700;
  border: none;
  margin: auto;
  border-radius: 5px;
}
.btn-entrada-gratis {
  width: 15% !important;
}
.btn-entrada:hover {
  background: #3c1486;
  color: white;
}
.box-entrada {
  text-align: center;
}
